.service-section {
    background-image: url(../../images/slider_5.png);
}

.service-section .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.service-section .content .title {
    margin-bottom: 50px;
}

.service-section .content .title h2 {
    color: aliceblue;
    font-weight: bolder;
    font-size: 40px;
}

/**Line*/
.service-section .content .title .line {
    width: 20%;
    height: 1px;
    background-color: #d07635;
    margin: 6px auto;
}

/**ball Right*/
.service-section .content .title h2::before {
    bottom: -10%;
    right: 35%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-100%, 50%);
}

/**ball Left*/
.service-section .content .title h2::after {
    bottom: -10%;
    left: 40%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.service-section .content .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.service-section .content .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}

.service-section .content .image-frame {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #d07635;
    position: relative;
}

.service-section .content img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.service-section .content .badge {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    border: 2px solid #f3f3f3;
    background-color: #fff;
    color: #3f3e44;
}

.service-section .content .image-frame:hover .badge {
    background-color: #d07635;
    color: #fff;
}

.service-section .content .image-frame:hover {
    background-image: url(../../../src/images/service-image-01.png);
    background-position: center;
    background-size: cover;
}

.service-section .content .toggle {
    height: 150px;
}

.service-section .content .toggle p:nth-of-type(1) {
    font-size: 30px;
    font-weight: bolder;
    color: #d07635;
    margin-bottom: 20px;
}

.service-section .content .toggle p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/*******************************************************/
/**Responsive*/
@media (max-width:1200px) {
    .service-section .content .items {
        flex-wrap: wrap;
    }

    .service-section .content .item {
        width: calc((100% - 100px) /2);
    }
}

@media (max-width:540px) {
    .service-section .content .item {
        width: 100%;
    }
}

@media (max-width:240px) {
    .service-section .content .toggle p:nth-of-type(1) {
        font-size: 20px;
    }

    .service-section .content .toggle p:nth-of-type(2) {
        font-size: 14px;
    }
}